<!DOCTYPE html>
<html lang = "pt-BR">
	<head>
			<meta charset = "UTF-8">
			<meta http-equiv = "X-UA-Compatible" content = "IE = edge">
			<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
			
			<title>Site Atacado!</title>

			<link rel = "stylesheet" href = "{{url_for('static', filename='CSS/login.css')}}" type = "text/css"/>
	</head>
	<body>
		<form method="POST" action="/login">
				<div>{{ form.username.label }}: {{ form.username(class="css_class") }}</div>
				<div>{{ form.password.label }}: {{ form.password() }}</div>
				<input type = "submit" value = "Enviar"/>
		</form>
	</body>
</html>