<!DOCTYPE html>
	<html lang = "pt-BR">
	<head>
		<meta charset = "UTF-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE = edge">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
		
		<title>Site Atacante!</title>

		<link rel = "stylesheet" href = "{{url_for('static', filename='CSS/site_atacante.css')}}" type = "text/css"/>
	</head>
	<body>
		<button id = "myButton">Clique aqui!</button>
		<script>
			async function sendRequest() {
				const response = await fetch("http://localhsost:5000/login");

				console.log(response);

				window.alert("Você foi hackeado!");
			}

			document.getElementById("myButton").addEventListener("click", sendRequest);
		</script>
	</body>
</html>